<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.DataBaseConnectionString"
            connectionString="Data Source=DESKTOP-5FJD1VS;Initial Catalog=DataBase;Persist Security Info=True;User ID=sa;Password=The@gonist31"
            providerName="System.Data.SqlClient" />
        <add name="LinqToSQL.Properties.Settings.DataBaseConnectionString1"
            connectionString="Data Source=DESKTOP-5FJD1VS;Initial Catalog=DataBase;Persist Security Info=True;User ID=sa;Password=The@gonist31"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>